<%- include ('./partials/head.ejs') %>
<div class="top_nav">
    <a href="/" class="active"><b>Home</b></a>
    <a href="/about"><b>About</b></a>
</div>
<br /><br />

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Summary')" id="default">Summary</button>
    <button class="tablinks" onclick="openTab(event, 'Transactions')">Transactions</button>
    <button class="tablinks" onclick="openTab(event, 'Sections')">Sections</button>
    <button class="tablinks" onclick="openTab(event, 'Errors')">Errors</button>
    <button class="tablinks" onclick="openTab(event, 'Ini')">INI</button>
</div>
<div id="Summary" class="tabcontent">
    <h3>Summary</h3>
    <table>
        <thead>
            <th>Section</th><th>C100</th><th>D110</th><th>D120</th><th>Descripancy</th><th>Des. Rate</th>
        </thead>
        <% let sections = [100, 305, 320, 330, 400, 410, 500, 700, 710, 810, 820, 830, 840, 900, 910]%>
        <% for (var i=0;i<=sections.length-1;i++) {%>   
            <tr>
                <% var diff_1 = c100[sections[i]]/100-d110[sections[i]]/100 %>
                <% var diff_2 = c100[sections[i]]/100-d120[sections[i]]/100 %>
                <td><%= sections[i] %></td><td><%= c100[sections[i]]/100 %></td>
                <td><%= d110[sections[i]]/100 %></td><td><%= d120[sections[i]]/100 %></td>
                <td><% if(sections[i]=='400' || sections[i]=='410'){ %>
                    <%= diff_2 %>
                <% } else { %>
                    <%= diff_1 %>
                <% } %></td>
                <td><% if(sections[i]=='400' || sections[i]=='410'){ %>
                    <%= diff_2/(d120[sections[i]]/100) %>
                <% } else { %>
                    <%= diff_1/(d110[sections[i]]/100) %>
                <% } %></td>
            </tr>
        <% } %>
    </table>
    
</div>
<div id="Transactions" class="tabcontent">
    <h3>Transactions</h3>
    <p>Report Transactions</p>
    <table style="width: auto; margin-left: auto; margin-right: auto;">
        <tr>
            <td><input type="button" value="<"/></td>
            <td>
                <select id="tran_ids">
                    <% for (var i=0;i<=options.length-1;i++) {%>
                        <option><%= options[i] %></option>
                    <% } %>
                    <%= options[i] %>
                </select>
            </td>
            <td><input type="button" value=">"/></td>
        </tr>
    </table>
    <label for="tran_ids">Transaction Ids</label>
    
</div>
<div id="Sections" class="tabcontent">
    <div class="subtab">
        <button class="subtab_links" onclick="openSubtab(event, 'B100')" id="default_1">B100</button>
        <button class="subtab_links" onclick="openSubtab(event, 'B110')">B110</button>
        <button class="subtab_links" onclick="openSubtab(event, 'C100')">C100</button>
        <button class="subtab_links" onclick="openSubtab(event, 'D110')">D110</button>
        <button class="subtab_links" onclick="openSubtab(event, 'D120')">D120</button>
        <button class="subtab_links" onclick="openSubtab(event, 'M100')">M100</button>
    </div>
    <% var secName=["B100", "B110", "C100", "D110", "D120","M100"] %>
    <% for(var a=0;a<=secName.length-1;a++){ %>
    <div id="<%= secName[a] %>" class="subtabcontent">
        <h3><%= secName[a] %> Section</h3>
        <% var len = JSON.stringify(parsed_sections[secName[a].toLowerCase()].length)%>
        <table class="scrollit">
            <thead>
                <% var line_len = JSON.stringify(fields[secName[a]].length)%>
                <% for (var j=0;j<=line_len-1;j++) {%>  
                    <% var field_name = JSON.stringify(fields[secName[a]][j])%>
                    <th><%= field_name %></th>
                <% } %>
            </thead>
            <% for (var i=0;i<=len-1;i++) {%>   
            <tr>
                <% for (var j=0;j<=line_len-1;j++) {%>  
                    <% var field_value = JSON.stringify(parsed_sections[secName[a].toLowerCase()][i][fields[secName[a]][j]])%> 
                    <td><%= field_value %></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    <% } %>
</div>
<div id="Errors" class="tabcontent">
    <div class="subtab_1">
        <button class="subtab_links" onclick="openSubtab(event, 'Eheaders')" id="default_2">Headers</button>
        <button class="subtab_links" onclick="openSubtab(event, 'Esummary')">Summary</button>
        <button class="subtab_links" onclick="openSubtab(event, 'Ejournals')">Journals</button>
        <button class="subtab_links" onclick="openSubtab(event, 'Eline')">Line</button>
        <button class="subtab_links" onclick="openSubtab(event, 'Evat')">VAT</button>
        <button class="subtab_links" onclick="openSubtab(event, 'Enegheader')">Negative Header</button>
    </div>
    <div id="Eheaders" class="subtabcontent">
        <h3>Headers</h3>
        <p>Report Header Errors</p>
        <table>
            <thead>
                <th>Report Line</th><th>Transaction Id</th><th>Error</th>
            </thead>
        <% var len = JSON.stringify(headerError.length)%>
        <% for (var i=0;i<=len-1;i++) {%>   
            <tr> 
                <% var field_value = JSON.stringify(headerError[i][0])%>
                <% var field_value_1 = JSON.stringify(headerError[i][1])%> 
                <% var field_value_2 = JSON.stringify(headerError[i][2])%>
                <td><%= field_value_1 %></td> 
                <td><%= field_value %></td>
                <td><%= field_value_2 %></td>
            </tr>
        <% } %>
    </table>
    </div>
    <div id="Esummary" class="subtabcontent">
        <h3>Summary Errors</h3>
        <p>Report Summary Errors</p>
    </div>
    <div id="Ejournals" class="subtabcontent">
        <h3>Journals Errors</h3>
        <table>
            <thead>
                <th>Report Line</th><th>Transaction Ref</th><th>Error</th>
            </thead>
        <% var len = JSON.stringify(JournalError.length)%>
        <% for (var i=0;i<=len-1;i++) {%>   
            <tr> 
                <% var field_value = JSON.stringify(JournalError[i][0])%>
                <% var field_value_1 = JSON.stringify(JournalError[i][1])%> 
                <% var field_value_2 = JSON.stringify(JournalError[i][2])%>
                <td><%= field_value_1 %></td> 
                <td><%= field_value %></td>
                <td><%= field_value_2 %></td>
            </tr>
        <% } %>
        </table>
    </div>
    <div id="Eline" class="subtabcontent">
        <h3>Line Errors</h3>
        <p>Report Line Descripancy Errors</p>
        <table>
            <thead>
                <th>Report Line</th><th>Transaction Id</th><th>Error</th>
            </thead>
        <% var len = JSON.stringify(LineError.length)%>
        <% for (var i=0;i<=len-1;i++) {%>   
            <tr> 
                <% var field_value = JSON.stringify(LineError[i][0])%>
                <% var field_value_1 = JSON.stringify(LineError[i][1])%> 
                <% var field_value_2 = JSON.stringify(LineError[i][2])%>
                <td><%= field_value_1 %></td> 
                <td><%= field_value %></td>
                <td><%= field_value_2 %></td>
            </tr>
        <% } %>
        </table>
    </div>
    <div id="Evat" class="subtabcontent">
        <h3>Header VAT Errors</h3>
        <p>Report Header VAT Errors</p>
    </div>
    <div id="Enegheader" class="subtabcontent">
        <h3>Negative Header</h3>
        <p>Report Negative Header Errors</p>
        <table>
            <thead>
                <th>Report Line</th><th>Transaction Id</th><th>Error</th>
            </thead>
        <% var len = JSON.stringify(headerNegError.length)%>
        <% for (var i=0;i<=len-1;i++) {%>   
            <tr> 
                <% var field_value = JSON.stringify(headerNegError[i][0])%>
                <% var field_value_1 = JSON.stringify(headerNegError[i][1])%> 
                <% var field_value_2 = JSON.stringify(headerNegError[i][2])%>
                <td><%= field_value_1 %></td> 
                <td><%= field_value %></td>
                <td><%= field_value_2 %></td>
            </tr>
        <% } %>
        </table>
    </div>
</div>
<div id="Ini" class="tabcontent">
    <h3>INI File</h3>
    <% var a000 = JSON.stringify(ini['a000'])%>
    <table style="width: auto;">
        <tr>
            <td>
                <table style="width: auto;">
                    <% for (var i=0;i<=fields['A000'].length-1;i++) {%>   
                        <tr> 
                            <td><b><%= fields['A000'][i] %></b></td>
                            <% var field_value = JSON.stringify(ini['a000'][fields['A000'][i]])%>
                            <td><%= field_value %></td>
                        </tr>
                    <% } %>
                </table>
            </td>
            <td>
                <table style="width: auto;">
                    <% for(var i=0;i<=secName.length-1;i++){ %>
                    <tr>
                        <td><%= secName[i] %> Records</td>
                        <td><%- JSON.stringify(ini[secName[i].toLowerCase()])%></td>
                    </tr>
                    <% } %>
                </table>
            </td>
        </tr>
    </table>
    
</div>
    <script>
        document.getElementById('default').click();
        function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            if(tabName=='Sections')     document.getElementById('default_1').click();
            if(tabName=='Errors')     document.getElementById('default_2').click();
        }

        function openSubtab(evt, subtabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("subtabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("subtab_links");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(subtabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        var selection = document.getElementById('tran_ids');
        var bkmv_parsed = '<%- JSON.stringify(parsed_sections)%>';
        var c100 = JSON.parse(bkmv_parsed);
        selection.addEventListener('change',()=>{
            console.log(c100['c100']);
        });
    </script>
</body>
</html>